.DS_Store
*.swp
*~.nib
*.trace

.idea/
build/
Chess Data/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

project.xcworkspace/
xcuserdata/

# Engine build products and test artifacts
Chamonix/Chamonix/Products/
analyzed/
to-be-analyzed/
puzzle-results-*.log

