<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Switch Sides</string>
		<key>command</key>
		<string>switchSides</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Computer v. Computer</string>
		<key>command</key>
		<string>autoPlay</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Play Online</string>
		<key>command</key>
		<string>playOnline</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arrange Custom Board</string>
		<key>command</key>
		<string>manualSetup</string>
	</dict>
</array>
</plist>
